
body {
    background-color: #333;
    color: #fff;
    font: 14px/1.5em "Arial", sans-serif;
}

/* bootstrap style overrides */
.navbar-toggle {
    float: left;
    border: 0;
    margin-left: 5px;
    margin-right: auto;
    margin-top: 9px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-brand {
    float: left;
    padding: 14.5px 15px 14.5px 0;
}

/* end bootstrap style overrides */


.photo-item img {
    width: 100%;
    height: auto;
}

.error {
    color: #b42d23;
    font-size: 16px;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.portfolio input,
.portfolio textarea,
.portfolio p {
    color: #3A90AB !important;
}

form.MessageForm input {
  margin-bottom: 10px;
}

form.MessageForm {
  width: 300px;
  margin: 0 auto;
}

input[type="text"],
input[type="password"] {
    color: #31758d;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #ccc;
}

h2 {
    color: #31798F;
    margin: 1em 0 0.75em 0;
}

footer > div {
    font-size: .8em;
    border-top: 1px solid #31798F;
}

.btn-primary {
    color: #ccc !important;
    background-color: #333333 !important;
    border-color: #ccc !important;
}

button.btn.btn-primary:focus {
    outline: none;
}

footer > div > a {
    color: #fff !important;
}

/*header#top {
    margin: 3em 0;
    clear: both;
}*/

header#top > div {
    margin: 3em 0;
    position: relative;
    border-top: 1px solid #31798F;
}

header#top > div > span {
    color: rgba(255,255,255,0.7);
    background-color: #333;
    position: relative;
    top: -10px;
    padding: 0px 15px 0 0;
}
footer > div {
    margin: 5em 0;
    color: rgba(255,255,255,0.7);
}

footer > div > a {
    color: rgba(255,255,255,0.7) !important;
}

div#loading {
    color: #4CAF50;
    text-align: center;
    font-size: 32px;
}

#content {
    clear: both;
}

figcaption {
    text-align: right;
    font-weight: 100;
    margin: 5px;
    font-size: .8em;
    color: #cfcfcf;
}

nav a:link,
nav a:visited,
nav a:hover {
    color: #31758d;
}

nav a.active {
    color: #ccc;
}

iframe {
    border: none;
}

.songs .btn {
    background: transparent;
    color: #2780e3;
}

.songs ul {
    margin: 4rem 0 0 0;
    padding: 0;
}
.songs ul li:first-of-type {
  border-top: 1px solid #444;
}

.songs ul li {
  position: relative;
  border-bottom: 1px solid #444;
  list-style: none;
  padding: 1rem 0;
}

.songs ul li > .song-title {
  font-size: 1.2rem;
  color: #ccc;
  padding: 0 0 0 5px;
 }

.songs .btn {
    color: #2780e3;
    text-decoration: none;
    position: absolute;
    right: 0.3rem;
    top: 0.8rem;
}

.songs .btn.fa-pause {
    color: #03a9f4;
}

.progress {
    height: 4px;
    width: 22vw;
    max-width: 117px;
    display: inline-block;
    position: absolute;
    right: 58px;
    top: 17px;
    background-color: #292929;
}
