
body {
    background-color: #333;
    color: #fff;
    font: 14px/1.5em "Arial", sans-serif;
}

.photo-item img {
    width: 100%;
    height: auto;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.portfolio input,
.portfolio textarea,
.portfolio p {
    color: #3A90AB !important;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
    border: 1px solid #ccc;
}

h2 {
    color: #31798F;
    margin: 1em 0 0.75em 0;
}

footer > div {
    font-size: .8em;
    border-top: 1px solid #31798F;
}

.btn-primary {
    color: #ccc !important;
    background-color: #333333 !important;
    border-color: #ccc !important;
}

button.btn.btn-primary:focus {
    outline: none;
}

footer > div > a {
    color: #fff !important;
}

header#top {
    margin: 3em 0;
    clear: both;
}

header#top > div {
    margin: 3em 0;
    position: relative;
    border-top: 1px solid #31798F;
}

header#top > div > span {
    color: rgba(255,255,255,0.7);
    background-color: #333;
    position: relative;
    top: -10px;
    padding: 0px 15px 0 0;
}
footer > div {
    margin: 5em 0;
    color: rgba(255,255,255,0.7);
}

footer > div > a {
    color: rgba(255,255,255,0.7) !important;
}

div#loading {
    color: #4CAF50;
    text-align: center;
    font-size: 32px;
}

#content {
    clear: both;
}

figcaption {
    text-align: right;
    font-weight: 100;
    margin: 5px;
    font-size: .8em;
    color: #cfcfcf;
}

/* media queries */

/******************* Mobile devices *******************************************/
@media (min-width: 0px) {
    #center {
        width: 355px;
        margin: 0 auto;
        padding: 0 10px;
    }

    .fiddle {
        width: 355px;
        margin: 0 auto;
    }

    .photo-item {
        margin: 10px 0;
        width: 100%;
    }

    .form-control {
        margin-bottom: .5em;
        background-color: #333;
        max-width: 100%;
    }
}

/******************** Small devices (tablets, 768px and up) *******************/
@media (min-width: 767px) {
    #center {
        width: 480px;
        margin: 0 auto;
        padding: 0;
    }

    .fiddle {
        width: 480px;
        margin: 0 auto;
    }

    .photo-item {
        margin: 10px 0;
        width: 480px;
    }


}

/****************** Medium devices (desktops, 992px and up) *******************/
@media (min-width: 991px) {
    #center {
        width: 795px;
        margin: 0 auto;
        padding: 0;
    }

    .fiddle {
        width: 795px;
        margin: 0 auto;
    }

    .photo-item {
        margin: 10px 0;
        width: 795px;
    }

    .form-control,
    p {
        max-width: 50%;
    }
}

/************* Large devices (large desktops, 1200px and up) ******************/
@media (min-width: 1199px) {
    #center {
        width: 900px;
        margin: 0 auto;
        padding: 0;
    }

    .photo-item {
        margin: 10px 0;
        width: 900px;
    }

    .fiddle {
        width: 900px;
        margin: 0 auto;
    }
}



nav {
    margin: 5rem 0;
    font-size: 22px;
    color: #999;
}

nav a:link,
nav a:visited,
nav a:hover {
    color: #31758d;
}

nav a.active {
    color: #ccc;
}

iframe {
    border: none;
}
